.cardContainer {
  position: absolute;
  width: 100%;
}

.closeBtn {
  position: absolute;
  cursor: pointer;
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  border: none;
  padding: .5rem;
}

.closeIcon {
  width: 2rem;
  filter: invert(69%) sepia(63%) saturate(449%) hue-rotate(89deg) brightness(87%) contrast(88%);
}

.recipeContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media (min-width: 1200px) {
  .cardContainer {
    width: 50%;
  }
}

