.suggestionsContainer {
  position: absolute;
  left: 7.5%;
  width: 85%;
}

.suggestionsList {
  list-style: none;
  background-color: #FFF;
  max-height: 15rem;
  overflow: scroll;
  scroll-behavior: smooth;
}

.suggestionsListAbove {
  border: #333333 3px solid;
  border-bottom: none;
}

.suggestionsListUnder {
  border: #333333 3px solid;
  border-top: none;
}

.noSuggestionMsg {
  text-align: center;
  font-size: 1.4rem;
}

.suggestionListItem {
  width: 100%;
  padding-left: 10px;
  font-size: 1.3rem;
  position: relative;
}

.selectedSuggestion {
  background-color: var(--gray-2);
}

.selectedSuggestion::before {
  content: '';
  z-index: 10;
  position: absolute;
  top: 0;
  left: 3px;
  background-color: var(--accent-color);
  width: 3px;
  height: 100%;
}
