.selected-ingredients-list {
  display: flex;
  margin-top: 1.5rem;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
}

.search-recipe-btn {
  font-size: 1.3rem;
  padding: .5rem;
  margin-top: 1rem;
  cursor: pointer;
}

.selected-ingredients-item {
  cursor: pointer;
  padding: .35rem;
  border-radius: 10px;
  transition: all ease-in-out .2s;
  background-color: grey;
  margin-bottom: 1rem;
}

.selected-ingredients-list li:not(:last-child) {
  margin-right: 1rem;
}

.selected-ingredients-item:hover {
  background-color: rgb(204, 196, 196);
}
