* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* A9E4EF */
  --gray-1: #F5F5F5;
  --gray-2: #EBEBEB;
  --gray-3: #E0E0E0;
  --gray-4: #C2C2C2;
  --gray-5: #525252;
  --gray-6: #292929;
  --accent-color: #3FC979;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 3rem;
  background: url('../public/269.jpg') no-repeat ;
  background-blend-mode: multiply;
  background-size: cover;
}
